@import '../../../styles/base';

.preloader-icon {
  width: 60px;
  height: 60px;
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.icon {
  height: 40px;
  width: 40px;
  display: inline-block;
  svg {   
    max-height: 100%;
    max-width: 100%;
  }
  &.color-inherit {
    path, rect, circle {
      fill: currentColor;
    }
    &:hover {
      svg {
        path, rect, circle {
          fill: currentColor;
        }
      }
    }
  }
  &.bars-minutes {
    svg {
      rect {
        // fill: #edf0f6;
        fill: $lightgrey;
      }
    }
    &.bars-minutes--perfect {
      svg {
        rect {
          // fill: #58B93F;
          fill: $green;
        }
      }
    }
    &.bars-minutes--good {
      svg {
        rect {
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            // fill: #f8cf1c;
            fill: $yellow;
          }
        }
      }
    }
    &.bars-minutes--medium {
      svg {
        rect {
          &:nth-child(1),
          &:nth-child(2) {
            // fill: #f8cf1c;
            fill: $yellow;
          }
        }
      }
    }
    &.bars-minutes--bad {
      svg {
        rect {
          &:nth-child(1) {
            // fill: #D0021B;
            fill: $red;
          }
        }
      }
    }
  }
  &.sun-panel {
    svg {
      path {
        &.sun-panel-icon__third-row,
        &.sun-panel-icon__second-row,
        &.sun-panel-icon__first-row {
          fill: $lightgrey;
        }  
      }
    }
    &.sun-panel__good {
      svg {
        path {
          &.sun-panel-icon__third-row,
          &.sun-panel-icon__second-row,
          &.sun-panel-icon__first-row {
            fill: $green;
          }     
        }
      }
    }
    &.sun-panel__medium {
      svg {
        path {
          &.sun-panel-icon__second-row,
          &.sun-panel-icon__first-row {
            // fill: #F8CF1C;
            fill: $yellow;
          }
        }
      }
    }
    &.sun-panel__bad {
      svg {
        path {
          &.sun-panel-icon__first-row {
            // fill: #D0021B;
            fill: $red;
          }
        }
      }
    }
  }

  &.connection-status {
    svg {
      path {
        fill: #cacaca;
      }
    }
    &.connection-status__good {
      svg {
        path {
          fill: $green;
        }
      }
    }
    &.connection-status__bad {
      svg {
        path {
          // fill: #fb4949;
          fill: $red;
          fill-rule: evenodd;
        }
      }
    }
  }
}