$lumosStep: 20px;
$lumosBrandColor: #5d38db;
$border-color: #ECEDF4;
$disabledColor: #9B9B9B;
$white: #fff;
$dangerColor: #DE4846;



$green: #58B93F;
$yellow: #f8cf1c;
$red: #ff2600;
$darkgrey: #C5CDE1;
$lightgrey: #edf0f6;
$blue: #0000ff;
$customblack: #303030;


.df {
  display: flex;
}
.dif {
  display: inline-flex;
}
.f1 {
  flex: 1 1 auto;
}

.aic {
  align-items: center;
}

.aib {
  align-items: flex-end;
}

.ait {
  align-items: flex-start;
}

.ais {
  align-items: stretch;
}

.jcc {
  justify-content: center;
}

.jca {
  justify-content: space-around;
}

.jcb {
  justify-content: space-between;
}

.jcl {
  justify-content: flex-start;
}

.jcr {
  justify-content: flex-end;
}

.fc {
  flex-direction: column;
}

.asc {
  align-self: center;
}

.flex-center {
  @extend .df;
  @extend .aic;
  @extend .jcc;
}

.inline-flex-center {
  @extend .dif;
  @extend .aic;
  @extend .jcc;
}

.flex-between {
  @extend .df;
  @extend .aic;
  @extend .jcb;
}

.flex-around {
  @extend .df;
  @extend .aic;
  @extend .jca;
}

.flex-start {
  @extend .df;
  @extend .aic;
  @extend .jcl;
}

.inline-flex-start {
  @extend .dif;
  @extend .aic;
  @extend .jcl;
}

.flex-end {
  @extend .df;
  @extend .aic;
  @extend .jcr;
}

.flex-full-viewport {
  min-height: 100vh;
  @extend .df;
  @extend .fc;
}

.flex-full-viewport-center {
  min-height: 100vh;
  @extend .flex-center;
}
.flex-next {
  flex: 1 1 auto;
  @extend .df;
  @extend .fc;
}


.error-response {
  width: 100%;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
  padding: .75rem 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: .25rem;
}

.error-response h1 {
  color: #721c24;
  margin: 0;
  font-size: 1.25em;
}