<div class="container" *ngIf="componentData">
  <div class="row button-wrapper" *ngIf="contentVisible">
    <lum-polling [type]="'snapshot'" [parameters]="pollingDataSnapshot"></lum-polling>
  </div>


  <ng-container *ngIf="errorMessage">
    <div class="container">
      <div class="row">
        <div class="error-response" [innerHTML]="errorMessage | fromIframe"></div>
      </div>
    </div>
  </ng-container>

  <div class="row tables-wrapper">
    <div class="col-md-6 info-container">
      <div class="info-container__header">Performance</div>
      <div class="row info-container__table">
        <div class="col-sm-6 p0">
          <div class="row">
            <div class="col-xl-6 p0">Panel voltage:</div>
            <div class="col-xl-6 t-r">{{componentData.volt_panel | number: '1.0-0' }} V</div>
          </div>
          <div class="row">
            <div class="col-xl-6 p0">Panel current:</div>
            <div class="col-xl-6 t-r">{{componentData.current_panel | number: '1.0-0' }} A</div>
          </div>
          <div class="row">
            <div class="col-xl-6 p0">Panel power:</div>
            <div class="col-xl-6 t-r">{{componentData.volt_panel * componentData.current_panel | number: '1.0-0' }} W</div>
          </div>
          <br />
          <div class="row">
            <div class="col-xl-6 p0">Battery voltage:</div>
            <div class="col-xl-6 t-r">{{componentData.volt_battery | number: '1.0-0' }} V</div>
          </div>
          <div class="row">
            <div class="col-xl-6 p0">Battery current:</div>
            <div class="col-xl-6 t-r">{{componentData.current_battery | number: '1.0-0' }} A</div>
          </div>
          <div class="row">
            <div class="col-xl-6 p0">Battery power:</div>
            <div class="col-xl-6 t-r">{{componentData.volt_battery * componentData.current_battery | number: '1.0-0' }} W</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-xl-6 p0">RSSI (Absolute):</div>
            <div class="col-xl-6 t-r">{{componentData.rssi | number: '1.0-0' }}</div>
          </div>
          <div class="row">
            <div class="col-xl-6 p0">SOC:</div>
            <div class="col-xl-6 t-r">{{componentData.state_of_charge | number: '1.0-0' }}%</div>
          </div>
          <div class="row">
            <div class="col-xl-6 p0">NSOC:</div>
            <div class="col-xl-6 t-r">{{componentData.nominal_state_of_charge | number: '1.0-0' }}%</div>
          </div>
          <div class="row">
            <div class="col-xl-6 p0">SOH:</div>
            <div class="col-xl-6 t-r">{{componentData.state_of_health | number: '1.0-0' }}%</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 info-container">
      <div class="info-container__header">Components</div>
      <div class="row info-container__table">
        <div class="col-xl-12 p0">
          <div class="row">
            <div class="col-xl-3 p0">IDU S/N:</div>
            <div class="col-xl-7">{{componentData.gateway_id }}</div>
          </div>
          <div class="row">
            <div class="col-xl-3 p0">Battery S/N:</div>
            <div class="col-xl-7">{{componentData.battery_id }}</div>
          </div>
          <div class="row">
            <div class="col-xl-3 p0">Panel S/N:</div>
            <div class="col-xl-7">{{componentData.panel_id }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
</div>