@import url('../../../styles/_grid.scss');

.container {
  margin: 20px auto;
}

.tables-wrapper {
  flex: 1;
  flex-wrap: nowrap;
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.info-container__header {
  font-size: 20px;
  border-bottom: 2px solid rgba(0,0,0,.125);
}

.info-container__table {
  .row {
    border-bottom: 1px solid #e1e1e1;
    margin-top: 10px;
  }
}

.button-wrapper {
  margin: 1em 0;
}

.info-container {
  width: auto;
}

.p0 {
  padding: 0;
}

iframe {
  width: 100%;
  border: none;
}

.t-r {
  text-align: right;
}