<div class="no-gutters dashboard-container card contract-info f1">
  
  <div class="tab-panel">
    <div class="tab-element" (click)="onTabChange(1)" [class.active]="tabIndex === 1"><span class="tab-element__inner">Gages</span></div>
    <div class="tab-element" (click)="onTabChange(0)" [class.active]="tabIndex === 0"><span class="tab-element__inner">Graphs</span></div>
    <div class="tab-element" (click)="onTabChange(2)" [class.active]="tabIndex === 2"><span class="tab-element__inner">BIT</span></div>
  </div>

  <div class="left-credit-container">
    <div *ngFor="let additionalDetail of additionalDetails" class="left-credit"><strong>{{additionalDetail.key}}:</strong> {{additionalDetail.value}}</div>
    <div class="left-credit"><strong>{{$Label.Left_credit}}:</strong> {{leftCredit}}</div>
  </div>

  <div class="dashboard-body">
    <ng-container [ngSwitch]="tabIndex">
      <div *ngSwitchCase="0">
        <dashboard-graphs
          [panelC]="panelC"
          [errorMessage]="errorData"
          [selectedFromDate]="graphSelectedFrom"
          [selectedToDate]="graphSelectedTo"
          (changeDateFrom)="changeGraphFrom($event)"
          (changeDateTo)="changeGraphTo($event)"
          ></dashboard-graphs>
      </div>
      <div *ngSwitchCase="1">
        <dashboard-gages 
          [panelC]="panelC"
          [errorMessage]="errorData" 
          [gagesTabIndex]="gagesTabIndex" 
          (gagesTabIndexChange)="changeGagesTabIndex($event)" 
          [dashboardData]="dashboardData"
        ></dashboard-gages>
      </div>
      <div *ngSwitchCase="2">
        <dashboard-bit 
          [panelC]="panelC"
          [errorMessage]="errorData" 
          [snapshotData]="dashboardData.snapshotData"
        ></dashboard-bit>
      </div>
      <div *ngSwitchDefault>Wrong Select</div>
    </ng-container> 
  </div>
</div>