<div class="battery-wrap" [ngStyle]="{'background': batteryHeight}">
  <p [class]="titleClass">{{batteryName}}</p>

  <span class="icon icon-battery" [ngStyle]="{'width':'24px','height':'96px', 'background': 'inherit'}" >
    <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" width="24" height="96" viewBox="0 0 24 96" fill="none">
      <!-- First (bottom) -->
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0 2C0 0.895431 0.895431 0 2 0H18.1081C19.2127 0 20.1081 0.895431 20.1081 2V9.10204C20.1081 10.2066 19.2127 11.102 18.1081 11.102H2C0.89543 11.102 0 10.2066 0 9.10204V2Z" transform="translate(1.94531 81.6327)" [ngStyle]="{'fill': getBatteryPartColor(0)}" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0 2C0 0.895431 0.895431 0 2 0H18.1081C19.2127 0 20.1081 0.895431 20.1081 2V9.10204C20.1081 10.2066 19.2127 11.102 18.1081 11.102H2C0.89543 11.102 0 10.2066 0 9.10204V2Z" transform="translate(1.94531 68.5714)" [ngStyle]="{'fill': getBatteryPartColor(1)}" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0 2C0 0.895431 0.895431 0 2 0H18.1081C19.2127 0 20.1081 0.895431 20.1081 2V9.10204C20.1081 10.2066 19.2127 11.102 18.1081 11.102H2C0.89543 11.102 0 10.2066 0 9.10204V2Z" transform="translate(1.94531 55.5103)" [ngStyle]="{'fill': getBatteryPartColor(2)}" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0 2C0 0.895431 0.895431 0 2 0H18.1081C19.2127 0 20.1081 0.895431 20.1081 2V9.10204C20.1081 10.2066 19.2127 11.102 18.1081 11.102H2C0.89543 11.102 0 10.2066 0 9.10204V2Z" transform="translate(1.94531 42.449)" [ngStyle]="{'fill': getBatteryPartColor(3)}" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0 2C0 0.895431 0.895431 0 2 0H18.1081C19.2127 0 20.1081 0.895431 20.1081 2V9.10204C20.1081 10.2066 19.2127 11.102 18.1081 11.102H2C0.89543 11.102 0 10.2066 0 9.10204V2Z" transform="translate(1.94531 29.3877)" [ngStyle]="{'fill': getBatteryPartColor(4)}" />
      <!-- Last (top) -->
      <path fill-rule="evenodd" clip-rule="evenodd" d="M 0,2 C 0,0.895431 0.895431,0 2,0 h 16.1081 c 1.1046,0 2,0.895431 2,2 v 7.10204 c 0,1.10456 -0.8954,1.99996 -2,1.99996 -5.707765,0 -10.9343555,0 -16.1081,0 -1.10457,0 -2,-0.8954 -2,-1.99996 z" transform="translate(1.94531,16.3265)" [ngStyle]="{'fill': getBatteryPartColor(5)}" />
      
      <path d="M0.5 2C0.5 1.17157 1.17157 0.5 2 0.5H22C22.8284 0.5 23.5 1.17157 23.5 2V80.9388C23.5 81.7672 22.8284 82.4388 22 82.4388H2C1.17157 82.4388 0.5 81.7672 0.5 80.9388V2Z" transform="translate(0 13.0613)" stroke="#C5CDE1" />
      <path d="M0.5 2C0.5 1.17157 1.17157 0.5 2 0.5H12.9189C13.7473 0.5 14.4189 1.17157 14.4189 2V9.10204C14.4189 9.93047 13.7473 10.602 12.9189 10.602H2C1.17157 10.602 0.5 9.93047 0.5 9.10204V2Z" transform="translate(4.54102)" fill="#C5CDE1" stroke="#C5CDE1" />
      <path style="fill:#ffffff;stroke-width:0.10169491;fill-opacity:1" d="M 1.5468483,94.844564 C 1.394441,94.761855 1.2228308,94.606526 1.1654924,94.499389 1.0148431,94.217898 1.0204323,14.828677 1.1711212,14.547113 c 0.2681579,-0.501058 0.094446,-0.49318 10.8749538,-0.49318 10.832889,0 10.497371,-0.01566 10.774863,0.502842 0.146384,0.273521 0.146384,79.669948 0,79.943469 -0.277728,0.518941 0.06574,0.503149 -10.847867,0.49877 C 3.214615,94.9955 1.785983,94.974337 1.5468483,94.844564 Z M 21.162215,92.433892 c 0.223034,-0.154583 0.516556,-0.474922 0.652271,-0.711865 l 0.246755,-0.430806 0.02994,-3.887609 c 0.01981,-2.571589 -0.0075,-4.026516 -0.08055,-4.297946 -0.140514,-0.521832 -0.644897,-1.09862 -1.168857,-1.33665 -0.38359,-0.174262 -0.899871,-0.18529 -8.746635,-0.186859 -5.8010095,-0.0012 -8.4626845,0.03268 -8.7454271,0.111169 -0.530603,0.147303 -1.2136392,0.830339 -1.3609425,1.360943 -0.1494798,0.538443 -0.1548342,7.678934 -0.00616,8.214308 0.1386474,0.499267 0.6492084,1.074064 1.1625046,1.308766 0.3864188,0.176687 0.8556957,0.185125 9.009618,0.162002 l 8.601965,-0.02439 z M 20.556301,79.631387 c 0.619138,-0.155901 1.29161,-0.797355 1.447611,-1.380839 0.07874,-0.294518 0.105977,-1.659748 0.08621,-4.322034 -0.02761,-3.719116 -0.0383,-3.909553 -0.241332,-4.29831 -0.116845,-0.223729 -0.406787,-0.544068 -0.644315,-0.711864 l -0.431867,-0.305085 -8.667052,-0.02709 -8.6670525,-0.02709 -0.4513453,0.238374 c -0.2974199,0.157079 -0.5553903,0.406295 -0.7564299,0.730758 l -0.3050848,0.492386 -0.03299,3.770905 c -0.038585,4.410377 -0.00995,4.648574 0.6365904,5.295112 0.258339,0.25834 0.5900479,0.472845 0.8288156,0.535969 0.5893425,0.155806 16.5819265,0.163993 17.1982375,0.0088 z M 21.18659,66.29315 c 0.299437,-0.198177 0.507965,-0.448407 0.677979,-0.81356 l 0.245532,-0.527352 4.07e-4,-3.813559 c 3.05e-4,-2.482675 -0.03895,-3.955404 -0.112409,-4.220004 -0.147303,-0.530603 -0.830339,-1.213639 -1.360942,-1.360942 -0.555075,-0.154097 -16.7157794,-0.15872 -17.2695741,-0.0049 -0.2137046,0.05934 -0.5687313,0.270675 -0.7889483,0.469628 -0.6875849,0.621191 -0.7176159,0.853927 -0.6830394,5.293442 l 0.030052,3.856139 0.3050848,0.492392 c 0.2010433,0.324476 0.4590045,0.573685 0.7564299,0.730767 l 0.4513453,0.238374 8.6578188,-0.02709 8.657819,-0.02709 z M 20.709491,53.391519 c 0.483424,-0.144837 1.167979,-0.877513 1.252603,-1.340654 0.03205,-0.175432 0.0446,-2.107126 0.02787,-4.292654 l -0.03042,-3.973689 -0.279775,-0.422608 c -0.153876,-0.232434 -0.474215,-0.526477 -0.711864,-0.65343 l -0.43209,-0.230822 H 11.985469 3.4351214 l -0.4949308,0.305992 c -0.3352517,0.20727 -0.5706427,0.453343 -0.729602,0.762712 -0.2332292,0.453914 -0.2346691,0.480948 -0.2343822,4.400664 2.44e-4,3.329263 0.024819,4.002655 0.1576846,4.320646 0.2099669,0.502521 0.5197929,0.824464 1.0120955,1.051677 0.3849234,0.177653 0.8569311,0.187861 8.7848115,0.189974 6.150613,0.0016 8.484553,-0.02968 8.778693,-0.117808 z M 20.535817,40.382362 c 0.576451,-0.15746 1.060749,-0.55783 1.283272,-1.060878 0.176712,-0.399487 0.191133,-0.733886 0.189071,-4.383911 -0.002,-3.624136 -0.01778,-3.98513 -0.189974,-4.358216 -0.227213,-0.492303 -0.549156,-0.802129 -1.051677,-1.012096 -0.329867,-0.137827 -1.423362,-0.157118 -8.795222,-0.155163 -7.967245,0.0021 -8.4403263,0.0123 -8.8253005,0.189975 -0.4923026,0.227213 -0.8021286,0.549155 -1.0120955,1.051677 -0.132868,0.317998 -0.157396,0.990269 -0.157396,4.313962 0,3.793319 0.00782,3.953406 0.2138001,4.378912 0.2427291,0.501412 0.6884825,0.880325 1.2099287,1.028501 0.5157365,0.146553 16.6006982,0.153347 17.1355932,0.0072 z m 0.575984,-13.302309 c 0.196686,-0.134787 0.467891,-0.405946 0.602678,-0.602575 l 0.245067,-0.357507 0.02876,-4.112662 c 0.02829,-4.04581 0.02516,-4.120095 -0.192621,-4.569976 -0.148732,-0.307239 -0.374141,-0.554191 -0.686871,-0.752519 l -0.465489,-0.295204 -8.705314,0.02708 -8.7053126,0.02708 -0.3576117,0.245067 c -0.1966864,0.134787 -0.4678918,0.405931 -0.6026784,0.602542 l -0.2450669,0.357476 -0.031862,3.973729 c -0.02165,2.700058 0.00427,4.096502 0.080858,4.356771 0.1376443,0.467737 0.6530184,1.073872 1.0677569,1.255798 0.2482019,0.108874 1.9634055,0.130378 8.9585357,0.112315 l 8.651559,-0.02234 z" />
    </svg>
  </span>

  <p class="last" *ngIf="Label">{{Label}}</p>
</div>