<div class="tab-wrapper">
  <div class="title-wrapper">
    <p class="title">Choose Period:</p>
    <div>
      <span class="date-wrapper">From: </span>
      <div class="custom-form-group">
        <div class="input-group">
          <input class="form-control" placeholder="dd/mm/yyyy" [minDate]="minDate" [maxDate]="maxDate"
                 name="dpFrom" ngbDatepicker #dFrom="ngbDatepicker" [(ngModel)]="fromModel" (dateSelect)="onDateSelect($event, 'from')">
          <div class="input-group-append">
            <button class="custom-btn-primary calendar" (click)="dFrom.toggle()" type="button"><fa name="calendar"></fa></button>
          </div>
        </div>
      </div>
      <span class="date-wrapper">To: </span>
      <div class="custom-form-group">
        <div class="input-group">
          <input class="form-control" placeholder="dd/mm/yyyy" [minDate]="minDate" [maxDate]="maxDate"
                 name="dpTo" ngbDatepicker #dTo="ngbDatepicker" [(ngModel)]="toModel" (dateSelect)="onDateSelect($event, 'to')">
          <div class="input-group-append">
            <button class="custom-btn-primary calendar" (click)="dTo.toggle()" type="button"><fa name="calendar"></fa></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <ng-container *ngIf="errorMessage && !panelC.is_PanelC">
    <div class="container">
      <div class="row">
        <div class="error-response" [innerHTML]="errorMessage | fromIframe"></div>
      </div>
    </div>
  </ng-container>

  <div id="googleChart" style="height: 400px;width:100%;"></div>
</div>