.tab-wrapper {
  padding: 0 24px;
}

.title-wrapper {
  margin: 10px 0;

  p {
    font-weight: normal;
    margin: 5px 0;
    font-size: 14px;
    &.title {
      color: #A4A4A4;
    }
    span.date-wrapper {
      display: inline-block;
      vertical-align: top;
      color: #555555;
    }
    span.date-wrapper + span.date-wrapper {
      margin-left: 15px;
    }
  }

}

.custom-form-group {
  margin: 0 5px;
  display: inline-block;
}