<div class="panels  p-round-x-large">

  <div class="panel df fc aic">
    <!-- <div class="panel-c__label" *ngIf="panelC.is_PanelC">{{panelC.panelC_label}}</div> -->
    <div class="panel-header">
      {{$Label.telemetry_Panel}}
    </div>
    <p class="text py-small">
      <ng-container *ngIf="selectedFormat !== 'snapshot'">{{$Label.telemetry_Daily_average_health}}</ng-container>
      <ng-container *ngIf="selectedFormat === 'snapshot'">{{$Label.telemetry_Health}}</ng-container>
    </p>
    <div class="panel-content" [title]="widgetSettings.dataLoaded ? widgetSettings.sunPanelHealth.power_value : ''">
      <lumos-icons [name]="'sun-panel'" [class]="sunPanelClass" [style]="{'width':'102px','height':'unset'}"></lumos-icons>
    </div>

    <ng-container *ngIf="panelC.is_PanelC; else defaultWidgetStatusLabel1">
      <div class="panel-footer panel-footer--panel-c">{{panelC.panelC_label}}</div>
    </ng-container>
    <ng-template #defaultWidgetStatusLabel1>
      <div class="panel-footer" *ngIf="!widgetSettings.dataLoaded">{{$Label.telemetry_No_data}}</div>
      <div class="panel-footer" *ngIf="widgetSettings.dataLoaded">{{widgetSettings.sunPanelHealth.description}}</div>
    </ng-template>
    
    <div>
      <ng-container *ngIf="panelC.is_PanelC; else defaultWidgetStatus">
        <lumos-icons [class]="{'connection-status__bad': true}" [name]="'connection-status'" [style]="{'width':'110px','height':'20px','text-align':'center'}"></lumos-icons>
      </ng-container>
      <ng-template #defaultWidgetStatus>
        <lumos-icons *ngIf="!widgetSettings.dataLoaded" [name]="'connection-status'" [style]="{'width':'110px','height':'20px','text-align':'center'}"></lumos-icons>
        <lumos-icons 
          *ngIf="widgetSettings.dataLoaded && !panelC.is_PanelC" 
          [name]="widgetSettings.connectionStatus.isConnectionStable ? 'connection-status' : 'connection-status--disconnected'" 
          [class]="{'connection-status__good': widgetSettings.connectionStatus.isConnectionStable, 'connection-status__bad': !widgetSettings.connectionStatus.isConnectionStable}"
          [style]="{'width':'110px','height':'20px','text-align':'center'}"></lumos-icons>
      </ng-template>
    </div>
    <ng-container *ngIf="panelC.is_PanelC; else defaultWidgetStatusLabel2">
      <div class="panel-footer panel-footer--panel-c"></div>
    </ng-container>
    <ng-template #defaultWidgetStatusLabel2>
      <div class="panel-footer" *ngIf="!widgetSettings.dataLoaded">{{$Label.telemetry_No_data}}</div>
      <div class="panel-footer" *ngIf="widgetSettings.dataLoaded">
        <ng-container *ngIf="widgetSettings.connectionStatus.isConnectionStable; else badConnection">
          {{$Label.telemetry_Good}}
        </ng-container>
        <ng-template #badConnection>
          {{$Label.telemetry_Bad}}
        </ng-template>
      </div>
    </ng-template>

  </div>

  <div class="panel double-panel df fc aic">
    <div class="panel-header">
      {{$Label.telemetry_Battery}}
    </div>

    <div class="panel-title__container df">
      <p class="text py-small">{{$Label.telemetry_Charge_state}}</p>
      <p class="text py-small">{{$Label.telemetry_Battery_level}}</p>
    </div>
    <div class="panel-content df">

      <div class="double-panel__subcontainer df">
        
        <svg *ngIf="widgetSettings.dataLoaded && widgetSettings.batteryCharge.charge_state.is_charging && !widgetSettings.batteryCharge.charge_state.is_steady"
          class="dash-img st-border svg-charge-state-one" 
          [class.lvl4]="widgetSettings.batteryCharge.charge_state.charge_level >= 4" 
          [class.lvl3]="widgetSettings.batteryCharge.charge_state.charge_level >= 3" 
          [class.lvl2]="widgetSettings.batteryCharge.charge_state.charge_level >= 2" 
          [class.lvl1]="widgetSettings.batteryCharge.charge_state.charge_level >= 1" >
          <path d="M888.411,166.464V153.052l-0.437-.323-20.635-15.343L846.6,152.729v13.415L867.339,150.8l20.635,15.346Z" transform="translate(-846.094 -136.875)" />
          <path d="M888.411,185.164V171.752l-0.437-.323-20.635-15.343L846.6,171.429v13.415L867.339,169.5l20.635,15.346Z" transform="translate(-846.094 -136.875)" />
          <path d="M888.411,203.864V190.452l-0.437-.323-20.635-15.343L846.6,190.129v13.415L867.339,188.2l20.635,15.346Z" transform="translate(-846.094 -136.875)" />
          <path d="M888.411,222.564V209.152l-0.437-.323-20.635-15.343L846.6,208.829v13.415L867.339,206.9l20.635,15.346Z" transform="translate(-846.094 -136.875)" />
        </svg>
        <svg 
          *ngIf="widgetSettings.dataLoaded && !widgetSettings.batteryCharge.charge_state.is_charging && !widgetSettings.batteryCharge.charge_state.is_steady"
          class="dash-img st-border svg-charge-state-two" 
          [class.lvl4]="widgetSettings.batteryCharge.charge_state.charge_level >= 4" 
          [class.lvl3]="widgetSettings.batteryCharge.charge_state.charge_level >= 3" 
          [class.lvl2]="widgetSettings.batteryCharge.charge_state.charge_level >= 2" 
          [class.lvl1]="widgetSettings.batteryCharge.charge_state.charge_level >= 1" >
          <path d="M689.005,343.975v13.383l-0.439.322-20.728,15.309L647,357.68V344.3l20.836,15.311L688.566,344.3Z" transform="translate(-646.5 -288)"
          />
          <path d="M689.005,325.316V338.7l-0.439.322L667.838,354.33,647,339.021V325.636l20.836,15.311,20.728-15.311Z" transform="translate(-646.5 -288)" />
          <path d="M689.005,306.657V320.04l-0.439.322-20.728,15.309L647,320.362V306.977l20.836,15.311,20.728-15.311Z" transform="translate(-646.5 -288)" />
          <path d="M689.005,288v13.383l-0.439.322-20.728,15.309L647,301.7V288.318l20.836,15.312,20.728-15.312Z" transform="translate(-646.5 -288)"
          />
        </svg>
        <svg *ngIf="!widgetSettings.dataLoaded" class="dash-img st-border svg-charge-state-three">
          <path d="M689.005,343.975v13.383l-0.439.322-20.728,15.309L647,357.68V344.3l20.836,15.311L688.566,344.3Z" transform="translate(-646.5 -288)" />
          <path d="M689.005,325.316V338.7l-0.439.322L667.838,354.33,647,339.021V325.636l20.836,15.311,20.728-15.311Z" transform="translate(-646.5 -288)" />
          <path d="M689.005,306.657V320.04l-0.439.322-20.728,15.309L647,320.362V306.977l20.836,15.311,20.728-15.311Z" transform="translate(-646.5 -288)" />
          <path d="M689.005,288v13.383l-0.439.322-20.728,15.309L647,301.7V288.318l20.836,15.312,20.728-15.312Z" transform="translate(-646.5 -288)" />
        </svg>
        <svg *ngIf="widgetSettings.batteryCharge.charge_state.is_steady" class="dash-img st-border svg-charge-state-four">
          <path d="M1131.01,148v13.383l-0.44.322-20.73,15.309L1089,161.706V148.321l20.84,15.311,20.73-15.311Z" transform="translate(-1088.5 -147.5)" />
          <rect x="0.5" y="32.5" width="41" height="5" />
          <path d="M1131.01,217V203.619l-0.44-.322-20.73-15.309L1089,203.3v13.385l20.84-15.312,20.73,15.312Z" transform="translate(-1088.5 -147.5)" />
        </svg>
      </div>
      <div class="double-panel__subcontainer df">
        <ng-container *ngIf="selectedFormat === 'snapshot';else elseDailyBattery">
          <battery
            [batteryName]="$Label.telemetry_Current_status"
            [titleClass]="'first'"
            [Label]="widgetSettings.batteryCharge.battery_current.description"
            [batteryLevel]="widgetSettings.batteryCharge.battery_current.battery_level"
            ></battery>
        </ng-container>
        <ng-template #elseDailyBattery>
          <battery
            [batteryName]="$Label.telemetry_Sunrise"
            [titleClass]="'first'"
            [Label]="widgetSettings.batteryCharge.battery_sunrise.description"
            [batteryLevel]="widgetSettings.batteryCharge.battery_sunrise.battery_level"
            ></battery>
          <battery
            [batteryName]="$Label.telemetry_Sunset"
            [titleClass]="'first'"
            [Label]="widgetSettings.batteryCharge.battery_sunset.description"
            [batteryLevel]="widgetSettings.batteryCharge.battery_sunset.battery_level"
            ></battery>
          <battery
            [batteryName]="$Label.telemetry_Max"
            [titleClass]="'first'"
            [Label]="widgetSettings.batteryCharge.battery_max.description"
            [batteryLevel]="widgetSettings.batteryCharge.battery_max.battery_level"
            ></battery>
        </ng-template>
      </div>

    </div>
    <div class="panel-footer__container df">
      <div class="panel-footer" *ngIf="widgetSettings.dataLoaded">{{widgetSettings.batteryCharge.charge_state.description}}</div>
      <div class="panel-footer" *ngIf="!widgetSettings.dataLoaded">{{$Label.telemetry_No_data}}</div>
      <div class="panel-footer" *ngIf="!widgetSettings.dataLoaded">{{$Label.telemetry_No_data}}</div>
    </div>
  </div>
  
  <!-- <div class="panel df fc aic">
    <div class="panel-header">{{$Label.telemetry_Charge_state}}</div>
    <p class="text py-small">
      <ng-container *ngIf="selectedFormat !== 'snapshot'">{{$Label.telemetry_Daily_average_charge_state}}</ng-container>
      <ng-container *ngIf="selectedFormat === 'snapshot'">{{$Label.telemetry_Charge_state}}</ng-container>
    </p>
    <div class="panel-content">
      <div class="progress-bar-wrap">
        <div class="numbers-wrap">
          <span class="vline" ></span><span class="d1line" ></span>
          <span class="hline" ></span><span class="d2line" ></span>

          <span class="vline" ></span><span class="d1line" ></span>
          <span class="hline" ></span><span class="d2line" ></span>
        </div>
        <div class="info-wrap">
          <p class="title" *ngIf="widgetSettings.dataLoaded && widgetSettings.batteryCharge.charge_state.is_steady;else elseSteady"></p>
          <ng-template #elseSteady>
            <p class="title">{{widgetSettings.batteryCharge.charge_state.charge_level * 25}}%</p>
          </ng-template>
        </div>
        <round-progress
        [current]="isSteady ? 100 : widgetSettings.batteryCharge.charge_state.charge_level * 25"
        [max]="100"
        [background]="lightgreyColor"
        [radius]="40"
        [stroke]="4"
        [semicircle]="false"
        [rounded]="true"
        [clockwise]="false"
        [responsive]="false"
        [duration]="1"
        [animation]="'easeInOutQuart'"
        [animationDelay]="0"
        [color]="widgetColor"></round-progress>
      </div>
    </div>
    <div class="panel-footer" *ngIf="!widgetSettings.dataLoaded">{{$Label.telemetry_No_data}}</div>
    <div class="panel-footer" *ngIf="widgetSettings.dataLoaded" style="text-transform: capitalize;">{{widgetSettings.batteryCharge.charge_state.description}}</div>
  </div> -->
  
  <div class="panel df fc aic">
    <div class="panel-header">{{$Label.telemetry_Daily_average_load}}</div>
    <p class="text py-small">Load</p>
    <div class="panel-content" [title]="widgetSettings.dataLoaded ? 'User Load Power: ' + widgetSettings.currentLoad.value : ''">
      <div class="progress-bar-wrap">
        <div class="info-wrap" style="padding-top: 0;top: 50%; transform: translate(-50%, -50%)">
          <p class="load-arrow" [ngStyle]="calcAngle(widgetSettings.currentLoad.arrowDeg)" >
            <lumos-icons [name]="'speedometer-arrow--custom'" [style]="{
            transform: 'rotate(0deg)', 
            height: '20px', 
            width: '100%'
          }"></lumos-icons>
          </p>
        </div>
        <round-progress style="transform: rotate(-90deg)"
        [current]="_progressBarCurrent"
        [max]="100"
        [background]="lightgreyColor"
        [radius]="40"
        [stroke]="4"
        [semicircle]="false"
        [rounded]="true"
        [clockwise]="true"
        [responsive]="false"
        [duration]="1"
        [animation]="'easeInOutQuart'"
        [animationDelay]="0"
        [color]="((widgetSettings.dataLoaded) ? _progressBarColor : lightgreyColor)"></round-progress>
      </div>
    </div>
    <div class="panel-footer" *ngIf="!widgetSettings.dataLoaded">{{$Label.telemetry_No_data}}</div>
    <div class="panel-footer" *ngIf="widgetSettings.dataLoaded">
      <span style="text-transform: capitalize;">{{widgetSettings.currentLoad.description}}</span>
    </div>
  </div>

    
  <div class="panel df fc aic">
    <div class="panel-header">{{$Label.telemetry_Reception}}</div>
    <p class="text py-small">
      <ng-container *ngIf="selectedFormat !== 'snapshot'">{{$Label.telemetry_Daily_average_reception}}</ng-container>
      <ng-container *ngIf="selectedFormat === 'snapshot'">{{$Label.telemetry_without_reception}}</ng-container>
    </p>
    <div class="panel-content">
      <div class="bars">
        <lumos-icons [name]="'bars-minutes'" *ngIf="!widgetSettings.dataLoaded"></lumos-icons>
        <lumos-icons [name]="'bars-minutes'" *ngIf="widgetSettings.dataLoaded" 
          [class]="
          {
            'bars-minutes--perfect': widgetSettings.reception.class_name === 'green', 
            'bars-minutes--good': widgetSettings.reception.class_name === 'yellow-2', 
            'bars-minutes--medium': widgetSettings.reception.class_name === 'yellow', 
            'bars-minutes--bad': widgetSettings.reception.class_name === 'red'
          }
          "></lumos-icons>
      </div>
    </div>
    <!-- <div class="panel-footer" *ngIf="!widgetSettings.dataLoaded">{{$Label.telemetry_No_data}}</div> -->
    <div class="panel-footer" *ngIf="!widgetSettings.dataLoaded">{{widgetSettings.reception.value}}</div>
    <div class="panel-footer" *ngIf="widgetSettings.dataLoaded" style="text-transform: lowercase;">{{widgetSettings.reception.value}} min {{$Label.telemetry_without_reception}}</div>
  </div>
  
</div>