<div class="polling-container" *ngIf="parameters.isPolling;else elseIsPolling">

  <div class="progress-bar-wrapper">
    <ngb-progressbar type="warning" [animated]="true" [striped]="true" [value]="100 - parameters.procent"></ngb-progressbar>
  </div>

  <div class="progress-status-label">{{$Label.Refreshing_data}}: {{parameters.pollingTime}}</div>
  
</div>


<ng-template #elseIsPolling>
  <div class="polling-container">
    <button [disabled]="isPollingButtonDisabled" type="button" class="custom-btn-primary" (click)="startPolling()">{{$Label.Refresh_data}}</button>
  </div>
</ng-template>