<p-tabView [activeIndex]="tabIndex" (onChange)="onTabChange($event)">

  <div class="container" *ngIf="pollingVisibile">
    <div class="row" style="text-align: right;">
      <lum-polling [type]="'daily'" [parameters]="pollingDataDaily" *ngIf="isTodaySelected"></lum-polling>
      <lum-polling [type]="'snapshot'" [parameters]="pollingDataSnapshot" *ngIf="'snapshot' === selectedFormat"></lum-polling>
    </div>
  </div>

  <ng-container *ngIf="errorMessage">
    <div class="container">
      <div class="row">
        <div class="error-response" [innerHTML]="errorMessage | fromIframe"></div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngFor="let day of days; let i = index;"> 
    <p-tabPanel *ngIf="day.isToday" header="{{day.label}}" [ngClass]="{'active':i == tabIndex}" [headerStyleClass]="tabIndex == i ? 'active today' : 'today'">
      <ng-template pTemplate="content">
        <widgets-template [panelC]="panelC" [widgetSettings]="widgetSettings" [selectedFormat]="'daily'"></widgets-template>
      </ng-template>
    </p-tabPanel> 

    <p-tabPanel *ngIf="day.isSnapshot" header="{{day.label}}" [ngClass]="{'active':i == tabIndex}" [headerStyleClass]="tabIndex == i ? 'active snapshot' : 'snapshot'">
      <ng-template pTemplate="content">
        <widgets-template [panelC]="panelC" [widgetSettings]="widgetSettings" [selectedFormat]="'snapshot'"></widgets-template>
      </ng-template>
    </p-tabPanel> 

    <p-tabPanel *ngIf="!day.isToday && !day.isSnapshot" header="{{day.label | date:'dd/MM/yyyy' : 'UTC'}}" [ngClass]="{'active':i == tabIndex}" [headerStyleClass]="tabIndex == i ? 'active' : ''">
      <ng-template pTemplate="content">
        <widgets-template [panelC]="panelC" [widgetSettings]="widgetSettings" [selectedFormat]="'daily'"></widgets-template>
      </ng-template>
    </p-tabPanel>

  </ng-container>


</p-tabView>
