@import '../../../styles/base';
:host /deep/ {
  p-tabview {
    @extend .flex-next;
    .ui-tabview {
      flex: 1 1 auto;
    }
    p-tabpanel.active {
      @extend .flex-center;
      .ui-tabview-panel {
        flex-direction: row;
        width: 100%;
        .panels {
          flex-direction: row !important;
          width: 100%;
          .panel {
            margin: 0 10px;
          }
        }
      }
    } 
  }
  .ui-tabview .ui-tabview-panel {
    padding: 2em;
  }
  .ui-tabview .ui-tabview-nav {
    border-bottom: none;
    background-color: #f9fafc;
    padding: 10px 0!important;
    margin-bottom: 10px;
    &> li.ui-state-default {
      &.today a {
        color: #f9c734;
      }
      &.active a {
        color: $lumosBrandColor;
        font-weight: 600;
      }
    }
    .ui-tabview-selected a {
      border-bottom: none;
    }
  }
  
}
