:host {
  background-color: #f5f6fa;
  font-family: 'Lato', sans-serif;
  display: block;
  height: 100%;
  color: #555555;
  margin: 0;
  font-size: 14px;
  position: relative;
  padding: 2em;
  padding-top: 46px;
  max-width: 100%;
}
